<div id="banner">
	<a href="/">rap<br>geniuz</a>
</div>
<div id="search-bar" autocomplete="off">
  <input id="search-field" type="text" placeholder="Search by song, album, artist" autocomplete="off">
  <div id="search-results">
    
  </div>
</div>

<div id="user-header">
<% if (currentUser.get("id")) { %>

<a href="<%= "/users/" + currentUser.get("id") %>">
	<div class="info">
		<div class="name">
		<%= currentUser.get("username") %>
		</div>
		<image src="<%= currentUser.get("image") %>" id="profile-pic">
		</image>
	</div>
</a>
	<a id="add-song" href="/songs/new">
		Add Song
	</a>
	<div id="logout">
		Sign Out...
	</div>

<% } else { %>
<a id="sign-in" data-toggle="modal" href="#login-modal">
	Sign In!!!
</a>
<a id="sign-up" data-toggle="modal" href="#create-account-modal">
	Create an account
</a>
<% } %>
</div>

<div class="modal fade dark" id="login-modal" tabindex="-1" role="dialog"
aria-labelledby="login-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
          <h4 class="modal-title">Would you pretty please sign in, yo?</h4>
					<div id="login-alerts">
					</div>
        </div>
				<form id="login-form">
        <div class="modal-body">
        <div class="facebook-button-wrapper">
        <a href="/auth/facebook">
        <button type="button" class="btn facebook-login-button">Login with facebook</button>
        </a>
        </div>
        <div class="login-divider">
        - or - 
        </div>
						<div class="form-group">
							<label for="username">Nickname</label>
							<input type="text" class="form-control"
							name="username" id="username">
						 </div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" name="password" id="password"
							class="form-control">
						</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
					data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="login-button">
						Login
					</button>
        </div>
				</form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

<div class="modal fade dark" id="create-account-modal" tabindex="-1"
role="dialog" aria-labelledby="create-account-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
          <h4 class="modal-title">Gotta sign up to write up!</h4>
					<div id="create-account-alerts">
					</div>
        </div>
				<form id="create-account-form">
        <div class="modal-body">
        <div class="facebook-button-wrapper">
        <a href="/auth/facebook">
        <button type="button" class="btn facebook-login-button">Create account with facebook!</button>
        </a>
        </div>
        <div class="login-divider">
        - or - 
        </div>
						<div class="form-group">
							<label for="user_username">Nickname</label>
							<input type="text" class="form-control"
							name="user[username]" id="user_username">
						 </div>
						<div class="form-group">
							<label for="user[password]">Password</label>
							<input type="password" name="user[password]" id="user_password"
							class="form-control">
						</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
					data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary"
					id="create-account-button">
						Make account
					</button>
        </div>
				</form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->