<div id="banner">
	rap genius
</div>

<div id="user-header">
<% if (currentUser) { %>

<a href="<%= "/users/" + currentUser.get("id") %>">
	<div class="info">
		<div class="name">
		<%= currentUser.get("username") %>
		</div>
		<image src="<%= currentUser.get("image") %>" id="profile-pic">
		</image>
	</div>
</a>
	<div id="logout">
		Sign Out...
	</div>

<% } else { %>
<div id="sign-in">
	Sign In!!!
</div>
<div id="sign-up">
	Create an account
</div>
<% } %>
</div>