<div id="banner">
	rap genius
</div>

<div id="user-header">
<% if (currentUser.get("id")) { %>

<a href="<%= "/users/" + currentUser.get("id") %>">
	<div class="info">
		<div class="name">
		<%= currentUser.get("username") %>
		</div>
		<image src="<%= currentUser.get("image") %>" id="profile-pic">
		</image>
	</div>
</a>
	<div id="logout">
		Sign Out...
	</div>

<% } else { %>
<a id="sign-in" data-toggle="modal" href="#login-modal">
	Sign In!!!
</a>
<div id="sign-up">
	Create an account
</div>
<% } %>
</div>

<div class="modal fade dark" id="login-modal" tabindex="-1" role="dialog"
aria-labelledby="login-modal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
          <h4 class="modal-title">Would you pretty please sign in?</h4>
					<div id="login-alerts">
					</div>
        </div>
				<form id="login-form">
        <div class="modal-body">
						<div class="form-group">
							<label for="username">Nickname</label>
							<input type="text" class="form-control"
							name="username" id="username">
						 </div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" name="password" id="password"
							class="form-control">
						</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
					data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" id="login-button">
						Save changes
					</button>
        </div>
				</form>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->