<div id="tabs">
	<div class="activity-tab" id="annotations-button">Annotations</div>
	<div class="activity-tab" id="suggestions-button">Suggestions</div>
	<div class="activity-tab" id="songs-button">Songs</div>
</div>