<form id="sign-up-form">

	<h2> Would you pretty please create an account??</h2>
  
	<label id="user[username]">Nickname</label>
	<input type="text" name="user[username]" id="user_username"><br>

	<label id="user[password]">Password</label>
	<input type="password" name="user[password]" id="user_password"><br>

	<span class="signup-button">Sign up!</span>

	<button class="exit">X</button>
</form>
