<form id="annotation-form">
	<h2>On what would you like to opine, yo?</h2>
	<label for="annotation_body">the intel</label><br>
	<textarea type="text" name="annotation[body]" id="annotation_body"></textarea>
	<br>
	<span class="add-image filepick">Add image</span>
	<div class="footer">
		<button type="submit" class="button" id="submit-button">
			Explain Everything!!
		</button>
	</div>
</form>