<div id="referent-wrapper">
	<div class="block-wrapper">
		<a class="referent" href="/songs/<%= annotation.get('song_id') %>">
			<span class="big-quote">"</span><%= referent %>
		</a>
	ERRORS	<%= annotation.artist.name %><%= annotation.song.title %>
	<div>
</div>