<div class="annotation-content"><%= annotation %></div>
<div id="edit-annotation-button-wrapper">
	<span class="edit-annotation-button">Edit</span> |
	<span class="edit-annotation-button">Delete</span>
</div>
