<div class="new-song-page">

  <h1>Add a New Song</h1>

  <form action="<%= songs_url %>" method="post" >
    <input type="hidden" name="authenticity_token"
    value="<%= form_authenticity_token%>">

    <div class="new-song-field">
      <label for="artist_name">Primary Artist</label>
      <br>
      <input type="text" name="artist[name]" id="artist_name" size="30">
    </div>

    <div class="new-song-field">
      <label for="song_title">Song Title</label>
      <br>
      <input type="text" name="song[title]" id="song_title" size="30">
    </div>

    <div class="left-column">
      <div>
        <label for="features">Featured Artist(s)</label>
        <br>
        <input type="text" name="features" id="features" size="30">
      </div>

      <div>
        <label for="producers">Producer(s)</label>
        <br>
        <input type="text" name="producers" id="producers" size="30">
      </div>

      <div>
        <label for="song_youtube_url">YouTube URL</label>
        <br>
        <input type="text" name="song[youtube_url]" size="30"
        id="song_youtube_url">
      </div>

      <div>
        <label for="album[]">Album</label>
        <br>
        <input type="text" name="album[]" size="30"
        id="album">
      </div>
    </div>

    <label for="song_lyrics">Lyrics</label>
    <textarea name="song[lyrics]" id="song_lyrics"></textarea>

    <input type="submit" class="submit-button" value="Submit">

  </form>
</div>

