<div class="song-info" data-song-id="<%= @song.id %>">
  <span class="header"><%= @song.artist.name %>
    <span class="song-title"> - <%= @song.title %> Lyrics</span>
  </span>
</div>

<div id="song-wrapper">
	<div class="lyrics-wrapper">
		<span> hello how are you what is up </span>
		<%= markdown(@song.lyrics) %>
	</div>
	<span class="button edit-lyrics">Edit Lyrics</span>
</div>

