<form id="edit-song-form">
<textarea>
  <%= plain_lyrics %>
</textarea>
<button type="button" class="cancel"> Cancel </button>
<button type="submit" id="edit-song-button"> Submit Edit </button>
</form>