<form action="/session" method="post" id="sign-in-form">
	<h2> Would you pretty please sign-in?? </h2>
	<label id="username">Nickname</label>
	<input type="text" name="username" id="username"><br>

	<label id="password">Password</label>
	<input type="password" name="password" id="password"><br>

	<span class="signin-button">Sign in!</span>

	<button class="exit">X</button>
</form>

