$header-blue: rgba(35, 193, 250, 1);
$error-purple: #B762CC;
$deeper-purple: #7B418A;
$seafoam-green: rgba(51, 211, 171, 1);
$hot-pink: rgba(244, 60, 143, 1);
$light-green: rgba(167, 255, 99, 1);
$lipstick-red: rgba(177, 0, 10, 1);
$header-orange: #ffc31c;
$annotation-unit-grey: rgb(49,45,50);
$facebook-blue: rgb(113, 141, 200);
$anchor-orange: #ffc31c;

$edit-purple: rgba(201, 149, 255, 1);
$edit-color: $edit-purple;