// Place all the styles related to the annotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";



#edit-annotation-form {
	text-align: center;
	h2 {

	}
	textarea{
		width: 100%;
		height: 200px;
	}

//	width: 450px;
}

#edit-annotation-button-wrapper{
	text-align: center;
}

.edit-annotation-button {
	display: block;
	margin-top: 10px;
}

#annotation-image {
	max-width: 100%;
	max-height: 325px;
	display: block;
	margin: auto;
}

.annotation-stream-unit{
	background-color: rgb(49,45,50);
	color: rgb(239, 239, 239);;

	.annotation-content {
		margin: 30px;
	}

	.edit-annotation-button-wrapper {
		display: block;
		text-align: left;
	//	margin: 20px;
		// can't get margin-bottom to work
		padding-bottom: 10px;

		.edit-annotation-button.button {
			color: green;
			font-size: 12px;
			border: none;
		}

	}

	#referent-wrapper {
		background: image-url("tactile_noise.png");
		border-top: solid 1px rgb(212, 179, 254);

		.block-wrapper {

			display: inline-block;
			position: relative;
			left: 40px;
			margin: 20px 0px;

			a {
				text-decoration: none;
				color: #ffc31c;
				font-size: 18px;
			}

			.referent-info {
				color: $header-blue;
				font-size: 12px;
			}

			.big-quote {
				font-size: 30px;
			}
		}
	}
}


