// Place all the styles related to the annotations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// sprites http://assets.rapgenius.com/images/redesign/sprite.png?1378943071

@import "colors";

#annotation-login .modal-content {
  background-color: red;
  color: white;
  
}

#annotation-display {
	position: absolute;
	color: black;
	background-color: white;
	border-color: gray;
	border-style: solid;
	border-radius: 5px;
	border-width: 5px;
	padding: 20px;
	width: 450px;
}

#annotation-form {
	position: absolute;
	background-color: rgb(245, 245, 245);
	color: black;
	padding: 0px 20px;
	border-radius: 5px;

	label {
		font-style: italic;

	}

	.add-image {
		color: rgb(94, 4, 14);
		cursor: pointer;
	}

	.footer {
		text-align: center;

		button {
			background-color: transparent;
		}
	}

	textarea {
		width: 100%;
		height: 200px;
	}

	#submit-button {
		display: inline-block;
		padding: 4px;
		margin: 20px 0px;
		border-style: solid;
		border-width: 5px;

		&:active{
			background-color: orange;
		};
	}
}

.annotation-content {
	font-size: 16px;
}

#edit-annotation-form {
	text-align: center;
	h2 {

	}
	textarea{
		width: 100%;
		height: 200px;
	}

//	width: 450px;
}

#edit-annotation-button-wrapper{
	color: rgb(94, 4, 14);
	margin-top: 10px;
}

.edit-annotation-button {
	display: inline-block;
	cursor: pointer;
	margin-top: 10px;
}

.delete-annotation-button {
	cursor: pointer;
}

#annotation-image {
	max-width: 100%;
	max-height: 325px;
	display: block;
	margin: auto;
}

.annotation-stream-unit{
	background-color: rgb(49,45,50);
	color: rgb(239, 239, 239);;

	.annotation-content {
		margin: 30px;
	//	margin-bottom: 30px;
		border-left: solid rgb(107, 107, 107) 1px;
		padding-left: 20px;
		padding-bottom: 10px;
		padding-top: 10px;
	}

	#edit-annotation-button-wrapper {
		display: block;
		text-align: left;
	//	margin: 20px;
		// can't get margin-bottom to work
	//	margin: 30px;
		margin-bottom: 0px;
		padding: 10px;
		border-top: solid rgb(68, 68, 68) 1px;
		color: #5BB647;

		.buttons {
			margin-left: 30px;
			cursor: pointer;
		}

		.edit-annotation-button {
			display: inline-block;
			color: #5BB647;
			font-size: 12px;
			margin-top: 0px;
			border: none;
		}



	}

	#referent-wrapper {
		background: image-url("tactile_noise.png");
		border-top: solid 1px rgb(212, 179, 254);
		padding: 20px 10px;

		.block-wrapper {

		//	display: inline-block;
		//	left: 40px;
		//	padding: 40px;
			margin-left: 40px;
			margin-right: 40px;
		//	padding-right: 40px;
		//	width: 300px;
			//padding-bottom: 100px;

			a {
				text-decoration: none;
				color: #ffc31c;
				font-size: 18px;
			}

			.referent-info {
				color: $header-blue;
				font-size: 12px;
			}

			.big-quote {
				font-size: 30px;
			}
		}
	}
}


