@import "colors";

@font-face
{
  font-family: DinBoldCondensed;
  src: url('dinfont.woff');
}

//button {
//	background: transparent;
//	border-style: none;
//	font-family: inherit;
//	font-size: inherit;
//}

// overriding bootstrap's weirdness
*, *:before, *:after {
	box-sizing: content-box !important;
}

.main-wrapper {
	width: 997px;
	margin: auto;
}

.button {
	display: inline-block;
	font-size: 20px;
	font-style: italic;
	border: solid 3px black;
	padding: 5px;
	&:active {
		background-color: $header-blue;
	}
}

.error-message {
	position: absolute;
	color: white;
	background: red;
	padding: 20px;
	padding-top: 0px;

	h2 {
		text-align: center;
		margin: 10px 0px;
	}

	.exit {
		background-color: red;
		border-color: white;
		color: white;
		font-size: 15px;
		position: absolute;

		&:active{
			background-color: $header-blue;
		}
		//width: 10px;
		//		height: 10px;
	}

}

#banner {
	font-family: DinBoldCondensed;
	font-size: 40px;
	display: inline-block;
//	padding: 5px;
	border-radius: 5px;
	color: pink;
}

#toolbar {
	margin: 10px 0px;
}



#sign-in, #sign-up, #logout {
	float: right;
	font-size: 20px;
	font-style: italic;
	color: $hot-pink;
	padding: 5px;
	border: solid 3px $hot-pink;
	&:active {
		background-color: $header-blue;
	}
}

#logout {
	color: $lipstick-red;
	border-color: $lipstick-red;

	&:active {
		background: white;
	}
}

#sign-up {
	border-color: $light-green;
	color: $light-green;
	margin-right: 10px;
}

#sign-in-form, #sign-up-form {
	text-align: center;
	background-color: gray;
	display: inline-block;
	width: 400px;
	padding: 50px;


	// necessary for javascript positioning
	position: absolute;
	top: 0;
	right: 0;

	label {
		font-style: italic;
		font-weight: bold;
	}

	color: pink;

	.signup-button {
		// and this is why we don't use submit input buttons
		display: inline-block;
		background-color: transparent;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		border: solid pink 3px;
		padding: 5px;
		margin-top: 20px;
	}

}

#sign-in-form {

	.signin-button {
		// and this is why we don't use submit input buttons
		display: inline-block;
		background-color: transparent;
		font-family: inherit;
		font-size: inherit;
		color: inherit;
		border: solid pink 3px;
		padding: 5px;
		margin-top: 20px;
	}
}

.exit {
	display: inline-block;
	padding: 5px;
	border: solid pink 2px;
	background-color: gray;
	color: pink;
	font-size: 15px;

	&:active{
		background-color: $header-blue;
	}
	//width: 10px;
	//		height: 10px;
}

body {
	background: black;
}

#body{

  font-family: 'Helvetica Neue',
               Arial,
               Helvetica,
               Geneva,
               sans-serif;

               width: 1000px;
               margin: auto;
               margin-top: 10px;

  color: white;
}

.notice {
  background-color: $error-purple;
  background-image: -webkit-linear-gradient(top, $error-purple, $deeper-purple);
  border-radius: 5px;
  padding: 1px 1px;
  color: white;
  width: 500px;
}

.header {
  color: $header-blue;
  font-size: 40px;
  font-family: DinBoldCondensed;
	text-shadow: rgba(0,0,0,0.8) 5px 5px 10px;

	a {
		text-decoration: none;
		color: inherit;
	}

  .song-title {
    color: white;
  }

}

.info-box {
	background-color: rgb(17, 17, 17);
	border: solid rgb(102, 102, 102) 1px;
	.box-header {
		background-color: #1c1c1c;
		color: #666;
		font-family: sans-serif;
		font-size: 14px;
		padding: 3px;
		padding-left: 5px;

	}
}

.btn-dark {
	background-color: hsl(2, 0%, 12%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d3d3d", endColorstr="#1e1e1e");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#3d3d3d), to(#1e1e1e));
  background-image: -moz-linear-gradient(top, #3d3d3d, #1e1e1e);
  background-image: -ms-linear-gradient(top, #3d3d3d, #1e1e1e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d3d3d), color-stop(100%, #1e1e1e));
  background-image: -webkit-linear-gradient(top, #3d3d3d, #1e1e1e);
  background-image: -o-linear-gradient(top, #3d3d3d, #1e1e1e);
  background-image: linear-gradient(#3d3d3d, #1e1e1e);
  border-color: #1e1e1e #1e1e1e hsl(2, 0%, 9%);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
  -webkit-font-smoothing: antialiased;

	&:hover {
	  background-repeat: repeat-x;
		color: white;
	   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#595a4e", endColorstr="#23231e");
	   background-image: -khtml-gradient(linear, left top, left bottom, from(#595a4e), to(#23231e));
	   background-image: -moz-linear-gradient(top, #595a4e, #23231e);
	   background-image: -ms-linear-gradient(top, #595a4e, #23231e);
	   background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #595a4e), color-stop(100%, #23231e));
	   background-image: -webkit-linear-gradient(top, #595a4e, #23231e);
	   background-image: -o-linear-gradient(top, #595a4e, #23231e);
	   background-image: linear-gradient(#595a4e, #23231e);
	   border-color: #23231e #23231e hsl(64, 7%, 8%);

	}

	&:active{
		background-image: none;
	}
}


