// http://sass-lang.com/docs/yardoc/Sass/Script/Functions.html

@import "colors";

$miami-green : rgb(186, 254, 167);

#newsfeed {
	width: 500px;
	margin: auto;


	font-size: 22px;


	#welcome {
		text-align: center;
		color: $miami-green;
		margin-bottom: 10px;
    font-family: Arista;
    font-weight: 100;
    font-size: 40px;
	}

	#songs{
		color: $edit-purple;

		.song{
			border: solid 3px $edit-purple;
			margin-bottom: 10px;
			padding: 10px;
			cursor: pointer;

			.song-footer {
				color: pink;
				font-size: 12px;
        color: #78d9fc;
			
        .user-link {
          color: pink;
          display: inline-block;
          margin-left: 5px;
          
          &:hover {
           color: purple; 
          }
        }
      
      }
			&:hover {
				background: rgb(0, 6, 42);
				color: lighten($edit-purple, 10%);
			}
		}
	}
}