// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$input-grey: rgb(85, 85, 85);
$lyric-back-grey: rgb(22, 22, 22);
$lyric-border: rgb(204, 204, 204);
$anchor-orange: #ffc31c;
$edit-purple: rgba(201, 149, 255, 1);
$edit-color: $edit-purple;
$dark-border: rgb(102, 102, 102);


// LESSON: Div up against an achor will create a little space even when the Div is absolutely positioned.  You have to put the div inside the anchor for the space not to be created.
//  Also, span acts truly inline, whereas Div clears possibly and then is relative to where it would have been otherwise????

@import "colors";

.new-song-page{

  width: 997px;
  margin: auto;

  h1{
    font-size: 40px;
    font-family: DinBoldCondensed;
    color: pink;
  }

  color: white;

  .new-song-field{
    width: 410px;
    float: left;
  }

  .left-column {
    clear: both;
  }

  label {
    font-weight: bold;
    font-size: 15px;
    display: inline-block;

    &[for="song_lyrics"]{
      display: inline-block;
      margin-bottom: 5px;
    }
  }

  font-size: 17px;

  input{
    height: 20px;
    font-size: 17px;
    width: 375px;
    color: $input-grey;
    margin: 5px 0px;

    &.submit-button{
      width: auto;
      background-image: -webkit-linear-gradient(top, rgb(140, 140, 140),
			rgb(49, 45, 50));
      height: 30px;
      color: white;
      border-radius: 3px;
      border-color: rgb(115, 105, 117);

    }
  }

  textarea{
    width: 100%;
    height: 1000px;
    font-size: inherit;
  }



}

.song-info {
	background-color: $lyric-back-grey;
	padding: 20px;
	margin-bottom: 20px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	border: solid 1px $dark-border;
}

#song-wrapper {
	color: white;
	font-family: sans-serif;
	font-size: 17px;
	line-height: 26px;
	background-color: $lyric-back-grey;
	border-style: solid;
	border-color: $dark-border; //$lyric-border;
	border-width: 1px;
	// Ask why changing padding top has such an unexpected effect
	padding: 5px 30px;
	padding-bottom: 15px;
	margin-bottom: 20px;

  #edit-song-form{
    margin: 10px 0px;
    textarea {
      width: 100%;
      height: 500px;
      font-size: inherit;
    }
  }



	.edit-lyrics {
		border-color: $edit-color;
		color: $edit-color;
	}

	a {
		color: $anchor-orange;
		text-decoration: none;
	}

	#explain-button {
		box-sizing: content-box;
		background-color: orange;
		text-align: center;
		display: inline-block;
		border-radius: 5px;
		position: absolute;
		margin-top: -40px;
		margin-left: -28px;
		margin-right: 10px;
		padding: 0px 18px;
		z-index: 100;
		line-height: 30px;
		height: 30px;
		width: 70px;

		&:not(.loading):before {
			// why isn't this emptied by empty???
			content: "";
			position: absolute;
			right: 63px;
			top: 23px;
			border-top: 22px solid orange;
			border-right: 5px solid transparent;
			border-left: 5px solid transparent;
			-webkit-transform: rotate(35deg);
		}

		&.loading {
			background-image: image-url("throbber.gif");
			background-repeat: no-repeat;
			background-position: center;

			// nice to know about this option --- just push the starting line's material out of the block
			//text-indent: -119988px;
			//  overflow: hidden;
			//  text-align: left;

		}
		//  margin-right: 10px;
	}

	h2 {
		margin: 0;
		border-bottom-style: solid;
		border-width: 4px;
		margin: 20px 0px;
	}

	// should be absolutely positioned relative to page, but might change later.




}

#song-show{
	width: 585px;
	display: inline-block;
	.lyrics-wrapper{
		margin: 10px 0px;
	}
	#annotation-form {
		position: absolute;
	//	margin-top: -120px;
	//	margin-left: 450px;
		background-color: rgb(245, 245, 245);
		color: black;
		padding: 0px 20px;
		border-radius: 5px;

		label {
			font-style: italic;

		}

		.add-image {
			color: rgb(94, 4, 14);
			cursor: pointer;
		}

		.footer {
			text-align: center;

			button {
				background-color: transparent;
			}
		}

		textarea {
			width: 100%;
			height: 200px;
		}

		#submit-button {
			display: inline-block;
			padding: 4px;
			margin: 20px 0px;
			border-style: solid;
			border-width: 5px;

			&:active{
				background-color: orange;
			};
		}
	}

	#annotation-display {
		position: absolute;
		color: black;
		background-color: white;
		border-color: gray;
		border-style: solid;
		border-radius: 5px;
		border-width: 5px;
		padding: 20px;
		width: 450px;
		//margin-top: -50px;
//		margin-left: 450px;
	}
}

#song-relations{
	float: right;
	width: 380px;


	#song-description {
		background-color: rgb(17, 17, 17);
		border: solid rgb(102, 102, 102) 1px;
		.box-header {
			background-color: #1c1c1c;
			color: #666;
			font-family: sans-serif;
			font-size: 14px;
			padding: 3px;
			padding-left: 5px;
		}

		#description-text{
			text-align: center;
			padding-bottom: 10px;

			#album-image{
				img {
					display: inline-block;
				}
				margin: 20px;
			}
		}

		margin: 30px 0px;

	}

}

// Question: how margins work in absolutely positioned elements?







