// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

#user-activity {
	#tabs {
		.activity-tab {
			display: inline-block;
			padding: 20px;
			padding-top: 10px;
			padding-bottom: 10px;
			text-align: center;
			cursor: pointer;
			background-color: $annotation-unit-grey;
			margin: 0px;

			&:hover{
				background-color: rgb(5, 170, 229);
			}
		}

		#suggestions-button, #songs-button {
			//position: relative;
			//left: -10px;
			box-shadow: -5px 0px 3px rgba(0,0,0, .2);
		}

	}

	#activity-content {
		background-color: $annotation-unit-grey;

		a {
			display: block;
			margin-left: 20px;
			padding-top: 15px;
		}
    
    a.user-link {
      display: inline;
      margin: 0px;
    }
	}

	width: 653px;
	float: right;

}



#user-info {

	width: 300px;

	#editUserModal {
		color: black;
	}

	.user-avatar {
		display: inline-block;
		background: rgb(20, 0, 45);
		border: solid white 4px;
		width: 300px;
	}

	#user-profile-header {
		color: $header-orange;
		outline-color: rgb(255, 195, 28);
		font-size: 43px;
		padding-bottom: 20px;
		border-bottom: solid 2px $header-orange;
		margin-bottom: 20px;
	}

	.info-box {
		margin-top: 20px;
		width: 300px;

		.options{
			text-align: center;
			margin: 20px;
			//.cool-button {
//				background-color: rgb(88, 81, 90);
//				background-repeat: repeat-x;
//				background-image: webkit-linear-gradient(top, rgb(140, 131, 143), rgb(88, 81, 90));
//			}
		}
	}


}



