// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-activity {
	#tabs {
		.activity-tab {
			display: inline-block;
			text-align: center;
		}
	}


	width: 653px;
	float: right;

}


