<form id="annotation_form">
	<h2>On what would you like to opine, yo?</h2>
	<label for="annotation_body">the intel</label>
	<textarea type="text" name="annotation[body]" id="annotation_body"></textarea>
	<span id="submit_button">Declare Everything!!</span>
</form>